html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{metaTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header.main-header  
            nav.main-header__nav 
                ul.main-header__item-list 
                    each navLink in navLinks
                        li.main-header__item 
                            a(href=(navLink.path), class=(navLink.isActive ? 'active' : '')) #{navLink.title}
        block bodyContent
