<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body style="width: 100vw; margin: 0; padding: 0">
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/shop">Shop</a></li>
                    <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                    <li class="main-header__item"><a class="active" href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <main style="display: flex; justify-content: space-between; align-items: center; flex-direction: column">
            <h1>What is your name ?</h1>
            <form action="/about" method="POST">
                <input type="text" name="name" />
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>
