
extends layouts/main-layout.pug

block bodyContent
    main(style="display: flex; justify-content: space-between; align-items: center; flex-direction: column")
        h1 What is your name ?
        form(action="/about", method="POST")
            input(type="text", name="name")
            button(type="submit") Submit

