<!DOCTYPE html>
<html lang="en">
    <%- include('includes/main-head.ejs') %>
    <body>
        <%- include('includes/main-nav.ejs') %>
        <main style="display: flex; justify-content: space-between; align-items: center; flex-direction: column">
            <h1>What is your name ?</h1>
            <form action="/about" method="POST">
                <input type="text" name="name" />
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>
