extends layouts/main-layout.pug

block bodyContent
    main(style="display: flex; justify-content: space-between; align-items: center; flex-direction: column")
        h1 Add Product
        form.add-product-form(action="/admin/add-product", method="POST")
            input.add-product-form__title(type="text", name="title")
            button.add-product-form__button(type="submit") Submit

