<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body style="width: 100vw; margin: 0; padding: 0">
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/shop">Shop</a></li>
                    <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                    <li class="main-header__item"><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <hi>Welcome home ! :D</hi>
        </main>
    </body>
</html>
