doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.main-header  
            nav.main-header__nav 
                ul.main-header__item-list 
                    li.main-header__item 
                        a(href="/shop") Shop
                    li
                    li.main-header__item 
                        a(href="/admin/add-product") Add Product
                    li
                    li.main-header__item 
                        a(href="/about") About
                    li 
                ul
            nav
        header 
                main
            hi Page not found 
            hi
            h3 Got to 
                a(href="/") Home
                a
            h3
        </main>
    body 
